
.title-page-background {
    background-color: darkgreen;
}

.page-background {
    background-color: yellow;
}

.title-img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title-text {
    color: red;
    text-align: center;
    font-family: 'Wild Mexico', sans-serif;
    font-size: 3em;
    font-weight: bold;
}

.menu-list {
    text-align: center;
    color: white;
    font-size: 2em;
    list-style: inside;
}

.list-center {
    display: inline-block;
    text-align: left;
}

.list-item {
    text-decoration: none;
    color: white;
    font-style: oblique;
}

.description {
    text-align: center;
    font-size: 2em;
    color: green;
    font-style: oblique;
}

.steps {
    font-weight: bolder;
    font-size: 1.2rem;
    font-style: italic;
}